<div class="container">
<h3 ng-bind-html="appTitle"></h3>
	<div>
		<div ng-show="cars.length > 0">
		
		<table class="table table-bordered">				
			<thead>					
				<tr>
					<th></th>
					<th>Plate</th>
					<th>Color</th>
					<th>Entrance</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="car in cars" ng-class="{selected: car.selected}">
					<td><input type="checkbox" ng-model="car.selected"></td>
					<td><span ng-bind="car.plate"></span> </td>
					<td><span ng-bind="car.color" ng-style="{color: car.color}"></span> </td>
					<td><span ng-bind="car.entrance"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-hide="cars.length > 0" class="alert alert-warning">			
			Warning! The parking lot is empty			
	</div>
		
		<alert description="alertDescription" topic="alertTopic"></alert>

		<div class="row">
			<form class="form-inline">
				<div class="form-group">
					<label for="">Plate</label>
					<input type="text" class="form-control" ng-model="car.plate" placeholder="What's the plate?">		
				</div>
				<div class="form-group">
					<label for="">Color</label>
					<select ng-model="car.color" class="form-control" ng-options="color for color in colors">						
			</select>
				</div>
				<button type="button" class="btn btn-default" ng-click="park(car)" ng-disabled="!car.plate">Park</button>
			</form>
			
		</div>
	</div>	
</div>